<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 style="color:Green">
    Welcome to {{ title }}!
  </h1>
<div class="btn-group">
  <a routerLink="/park"><button class="btn btn-success btn-block">Park my Vehicle</button></a>
  <br>
  <a routerLink="/unpark"><button class=" btn btn-success btn-block">UnPark my Vehicle</button></a>
  <br>
  <a routerLink="/park_report"><button class="btn btn-success btn-block">Parking report</button></a>
</div>
<router-outlet></router-outlet>
